{{input value=newItem}}
<button {{action "addNewItem"}}>Add New Item</button>
<ul>
  {{#each items as |item|}}
      <li>{{item}}</li>
  {{/each}}
</ul>


<button {{action "saveItems"}}>Save Items</button>